@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";

:root {

  /*COLORS*/
  --grayish-white: #D9D9D9;
  --monoBlue: #68b1c8;
  --gray-1: #838D9B;
  --grey-2: #D9D9D9;
  --glassy: 262C31;
  

  font-family: "Manrope";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: black;
  margin: 0;
  box-sizing: 0;
}
